.right {
    float: right;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
  }

  html {
    background-color: white;
  }



.buttonn {
  background-color: #00a86e;
  border: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.buttonn1 {border-radius: 2px;}
.buttonn2 {border-radius: 4px;}
.buttonn3 {background-color: blue;border-radius: 12px;}
.buttonn4 {border-radius: 12px;}
.buttonn5 {border-radius: 50%;}

.container {
  position: relative;
  text-align: center;
  color: white;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
